*{
    background-color: rgb(30 41 59);
    margin: 0;
    padding: 1% 6%;
    color: #fff;
}
#form{
    text-align: center;
    /* margin-top: 20px; */
}
a{
  text-decoration: none;  
}
.search ,button{
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    border: none;
}
.main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    /* display:  flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh; */

}
.card{
    border: 1px solid rgb(51 65 85); 
    border-radius: 10px;
    background-color: rgb(51 65 85);
}
hr{
    color: #fff;
    background-color: #fff;
}
h3{
    background-color: rgb(51 65 85);
}
.card-footer{
    /* text-align: center; */
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51 65 85);
    border: 1px solid rgb(51 65 85); 
}
.avatar-for-main{
    width: 80%;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    /* border-radius: 10px; */
    
    background-color: rgb(51 65 85);
}
.avatar-for-footer{
    width: 50px;
    border-radius: 50%;
    background-color: rgb(51 65 85);
}   

@media all and (max-width: 1000px) {
    .main-section {
          grid-template-columns: repeat(2, 1fr);
}
}

@media all and (max-width: 740px) {
    .main-section {
          grid-template-columns: repeat(1, 1fr);
}
}